@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --sidebar-width: 360px;
}

.jtron {
  /* background-image: url(/pxfuel.jpg); */
  background-size: cover;
  background-position: center;
  transition: background 1s linear;
}

.anm {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: 1;
}

body {
  /* background-image: url(/pardon.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

@keyframes slideUp {
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  0% {
    transform: translateY(100%);
    transform-origin: bottom;
    opacity: 0;
  }
}

#sidebar {
  width: var(--sidebar-width);
  transition: transform 500ms;
  transform: translateX(0);
}

#page-content {
  transition: margin 500ms;
  margin-left: var(--sidebar-width);
}

@media only screen and (max-width: 766px) {
  aside#sidebar {
    transform: translateX(-100%);
  }

  #page-content {
    margin-left: 0;
  }

  .mobile-visible aside#sidebar {
    transform: translateX(0);
  }

  .mobile-visible aside#sidebar ~ #page-content {
    margin-left: var(--sidebar-width);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.page-section-hidden h1,
.page-section-hidden h2 {
  opacity: 0;
}

.page-section-slide-in h1,
.page-section-slide-in h2 {
  animation-name: fadeInLeft;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-iteration-count: 1;
}

.page-section-slide-in h2 {
  animation-duration: 1.2s;
}
