@tailwind base;
@tailwind components;
@tailwind utilities;


.jtron {
  background-image: url(/pxfuel.jpg);
  background-size: cover;
  background-position: center;
  /* background-color: red; */
  transition: background 1s linear;
}

.jtron:hover {
  background-image: url(/pxfuel-2.jpg);
  /* background-color: blue; */
}

.anm {
  animation: slideUp 1s;
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    opacity: 1;
  }
  0% {
    transform: translateY(100%);
    opacity: .8;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
